*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  color: $font-color-base;
  line-height: $line-height;
  scroll-behavior: smooth;
  margin: 0;
}

section {
  margin: $spacer--l 0;
}

p {
  margin-bottom: $spacer--s;
}

.main {
  padding: 0 $spacer--m;
}

.margin-x {
  margin: $spacer--m 0;
}

.m-auto {
  margin: auto;
}

.m-xl {
  margin: $spacer--xl;
}

.bold {
  font-weight: bold;
}

.justified {
  text-align: justify;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  &__legend {
    @include visually-hidden();
  }
}
