.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  min-height: 48px;
  padding: 0 $spacer--l;
  background-color: $secondary;
  border: 1px solid $gray-dark;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  line-height: $line-height;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  transition: $transition-base;
  margin-bottom: $spacer--s;

  &:focus,
  &:hover,
  &:active,
  &.focus-visible {
    box-shadow: $button-box-shadow;
    outline: none;
  }

  &:disabled {
    background-color: $gray-lighter;
    border-color: $gray-lighter;
    cursor: not-allowed;
  }

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    transition: $transition-base;
  }

  &--login {
    width: 100%;
    max-width: 320px;
    margin: 0 auto $spacer__s;
    padding: 0 $spacer--s 0 $spacer--m;
    font-weight: $font-weight-base;
  }

  &--link {
    min-width: unset;
    border: 0;
    background-color: transparent;
    color: $preset;
    text-decoration: underline;
    font-weight: $font-weight-base;
    margin-bottom: 0;
  }

  &--small {
    font-size: $font-size-extra-small;
    min-height: 36px;
  }

  &--secondary {
    background-color: $white;
    border-color: $secondary;
    color: $secondary;
  }

  &--tertiary {
    background-color: $white;
    border-color: $preset;
    border-width: 2px;
    color: $secondary;
  }

  &--with-margin {
      margin: $spacer--xs;
  }

  &--fluid {
      width: 100%;
  }

  &--inline {
      padding: 0;
      min-height: auto;
      &.focus-visible {
        outline: $outline-focus;
      }
  }
}
