.dropdown {
  position: relative;
  display: flex;
  align-items: center;

  @include mq($max-screen: $screen-md-max) {
    width: 45px;
  }

  &__button {
    padding: 0 26.5px 0 11.5px;
    border: none;
    color: $font-color-base;
    font-size: $font-size-small;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    line-height: 38px;
    transition: all 0.3s ease-in-out;
    outline: none;
    cursor: pointer;

    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 40%;
      right: -12px;
      width: 8px;
      height: 8px;
      border-right: 2px solid $gray-darker;
      border-bottom: 2px solid $gray-darker;
      transform: rotate(45deg);
      transition: transform 0.3s ease-in-out;
    }
    @include mq($screen-md-min) {
      &:after {
        right: 8px;
      }
    }

    &--active {
      &:after {
        transform: translateY(50%) rotate(225deg);
      }
    }

    &:hover,
    &:focus {
      color: $preset;
    }
  }

  &__content {
    position: absolute;
    left: 10px;
    right: 0;
    top: 100%;
    width: 100%;
    margin-top: 2px;
    background: $white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.06);
  }

  &__link {
    font-weight: bold;
    text-transform: uppercase;
    color: $font-color-base;
    display: block;
    text-decoration: none;
    padding: 5px;

    &:hover,
    &:focus {
      color: $preset;
    }
  }
}

.top-nav-collapse {
  .dropdown {
    &__button {
      color: $font-color-base;

      &:after {
        color: $font-color-base;
      }
    }
  }
}
