.form-section {
  position: relative;
  box-shadow: $box-shadow;
  padding: $spacer--xl;

  &__action {
    margin: $spacer--l 0;
    @include mq($screen-sm-min) {
      max-width: 80%;
      margin: 0 auto;
    }
  }
  &__preview {
    margin: $spacer--xl 0;
    padding: $spacer--m;
    border-top: $border-base;
    text-align: left;
    word-break: break-word;
  }

  &__field-tip {
    text-align: right;
  }

  .input,
  .radio {
    .error {
      display: none;
      text-align: left;
      margin-top: 4px;
      font-size: $font-size-small;
      color: $error;
    }

    &--error {
      .error {
        display: block;
      }
    }
  }
}
