.heading {
  margin: 0 0 $spacer--xl;
  color: $font-color-base;
  font-weight: $font-weight-extra-bold;

  &--h1 {
    font-size: $heading-size-medium;
    @include mq($screen-sm-min) {
      font-size: $heading-size-large;
    }
  }

  &--h2 {
    font-size: $heading-size-small;
    @include mq($screen-sm-min) {
      font-size: $heading-size-medium;
    }
  }

  &--h3 {
    font-size: $heading-size-extra-small;
    @include mq($screen-sm-min) {
      font-size: $heading-size-small;
    }
  }

  &--h4 {
    font-size: $font-size-small;
    margin-bottom: $spacer--xs;
    @include mq($screen-sm-min) {
        font-size: $heading-size-extra-small;
    }
  }

  &--underline {
    position: relative;
    margin: $spacer--xs $spacer--s 64px;
    padding: $spacer--s;
    text-transform: uppercase;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 64px;
      height: 2px;
      background-color: $preset;
      transform: translateX(-50%);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .heading;
}

h1 {
  @extend .heading--h1;
}

h2 {
  @extend .heading--h2;
}

h3 {
  @extend .heading--h3;
}

h4 {
  @extend .heading--h4;
}
