.link {
  color: $gray-darker;
  text-decoration: underline;
  transition: $transition-base;

  &:hover,
  &.focus-visible {
    color: $preset;
  }

  &.router-link-exact-active {
    color: $preset;
    font-weight: bold;
  }

  &--invert {
    color: $preset;
    font-weight: $font-weight-bold;

    &:hover,
    &.focus-visible {
      color: $secondary;
    }
  }
}
