.link {
  color: $gray-darker;
  text-decoration: none;
  padding: $spacer--xs;
  margin: 0 $spacer--m;
  transition: $transition-base;

  &:focus,
  &:hover {
    color: $preset;
  }

  &.router-link-exact-active {
    color: $preset;
    font-weight: bold;
  }
}
